{% extends 'base.html'%}
{% load static %}
{% block styles %}
  {{block.super}}
  <link rel="stylesheet" href="{% static 'css/profile.css'%}">
{% endblock %}
{% block content %}
<div class="container-fluid ">
  <div class="wrapper border-bottom">
    <div class="row">
      <div class="col-md-4 mt-4">
        {% if current_profile.profile_photo%}
          <img src="{{ current_profile.profile_photo.url }}" style="width:10rem" data-target="#imageModal{{image.id}}" data-toggle="modal" class="rounded-circle border  profile" alt="profile_img">
        {% endif %}
      </div>
      <div class="col-md-8 mr-5 mt-4">
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-6 pd-5"><p class="bold" style="color:rgba(0, 0, 255,1);">{{current_profile.user.username}}</p></div>
              <div class="col-md-6">
                <p>
                  {% if not current_profile.user.id == request.user.id%}
                    {% if is_follow %}
                  <a href="{%url 'follow' current_profile.id %}"><button type="submit" class="btn btn-outline-primary fol">Unfollow</button></a>
                    {% else %}
                  <a href="{%url 'follow' current_profile.id %}"><button type="submit" class="btn btn-outline-primary fol">follow</button></a>
                   {% endif %}
                  {%endif%}
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-8">  {% if current_profile.user.id == request.user.id%}
              <a type="button" class="edit" href="{% url 'edit_profile'%}">Edit Profile</a>
            {% endif%}
          </div>
        </div>
        <div class="row buttons">
          <p>5<small>posts</small></p>
          <p>{{ current_profile.get_following.count}}<small>following</small></p>
          <p>{{current_profile.user.followed_by.all.count}}<small>followers</small></p>
        </div>
        <div class="bio">
          <p><span class="bold">{{ current_profile.user.name }} {{ current_profile.user.name}}</span></p>
          <p>{{ current_profile.bio}}</p>
        </div>
        <div class="">
          <p>Following</p>
          {% for user in current_profile.get_following %}
          <p><a href="{% url 'profile' user.id %}">{{user.name}}</a></p>
          {% empty %}
          <p>you are not following any user</p>
          {% endfor %}

          <p>Followers</p>
          {% for user in current_profile.user.followed_by.all %}
          <p><a href="{% url 'profile' user.id %}">{{ user.user.name}}</a></p>
          {% empty %}
          <p>Your're Not followed by any user</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="container post_span">
    <h4 class="text-center">Posts</h4>

    <div class="row">
        {% for image in images %}
      <div class="col-md-4 pd-5 profile_img">
          <img class="img-responsive" src="{{image.image_path.url}}" alt="">
      </div>
      {%endfor%}
    </div>

  </div>
</div>

{% endblock %}