<div class="container">
        <div class="col-md-12 mt-5">
          <div class="footer text-center ">
            <ul id="footer1">
              <li>ABOUT US</li>
              <li>SUPPORT</li>
              <li>PRESS</li>
              <li>API</li>
              <li>JOBS</li>
              <li>PRIVACY</li>
              <li>TERMS</li>
              <li>DIRECTORY</li>
              <li>PROFILES</li>
              <li>HASHTAGS</li>
              <li>LANGUAGE</li>
              <br>
    
              <li style="font-size:10px;"> <strong>© 2018 GABRIELCODER </strong></li>
            </ul>
    
          </div>
    
        </div>
      </div>