{% extends 'all-images/base.html'%}
{% load friendshiptags %}
{% load staticfiles %}
{% load bootstrap4 %}

<link href="https://fonts.googleapis.com/css?family=Charmonman|Dancing+Script|Kodchasan|Spirax|Abril+Fatface" rel="stylesheet">

{% block content %}

{{block.super}}

<div class='container mt-5'>
        <!-- <div class="jumbotron text-center mb-0" style="background-color:white;">

                <h1 class="h1" style="font-family: 'Grand Hotel', cursive; color:blue;font-size:70px;">Instagram</h1>
            
              </div> -->

    <div class="row">
        <div class="col-md-2"></div>
    <div class='col-sm-8 col-md-8 col-xl-8'>
    
    {% for image in images %}

<div class="card text-center image_card ">
    <div class="card-header img-section">
       
      <img src="{{image.profile.profile_photo.url}}" style="width:4rem" data-target="#imageModal{{image.id}}" data-toggle="modal" class="rounded-circle border  user" alt="Card image">
      <br>
      <a href="" class="username"><p style="font-family: Georgia, 'Times New Roman', Times, serif"> {{image.profile.user}}</p></a>
    </div>
    <div class="card-body "><a href="{% url 'image' image.id %}">

   <img src="{{image.image_path.url}}" class="card-img-top" alt="images"  data-target="#imageModal{{image.id}}">
   </a>
    </div>
    <div class="card-footer text-muted">
        {% for comment in image.comments.all %}
        <a href="{{comment.user.username}}">{{comment.user.username}}</a> :{{comment.comment}}
      2 days ago
      {%endfor%}

<!-- 
      <form action="/likes/{{img.id}}" method="post" enctype="multipart/form-data">
        {%csrf_token%}

        {% bootstrap_form like %}
        <button>
            <div><i class="fa fa-heart" type='submit' style="font-size:30px;">{{img.likes.all|length}}</i></div>

        </button>
    </form>


    <form id='comment' action="/comments/{{img.id}}" method="post" enctype="multipart/form-data">
        {%csrf_token%}

        {% bootstrap_form comment %}
        <input type="submit" class="btn btn-primary btn-lg" value="Add comment">
    </form> -->
    </div>
  </div>
  {%endfor%}
</div>
<div class="col-md-2"></div>

</div>
</div>

  {% endblock %}

