{% extends 'all-images/base.html'%}
<!-- {% load friendshiptags %} -->
{% load staticfiles %}
{% load bootstrap4 %}

{% block content %}

{{block.super}}

<div class='container'>

    <div class="row">
       
    </div>
    <div class='row'>
    <div class='col-sm-8 col-md-8 col-xl-8'>
    
    {% for image in images %}

<div class="card text-center">
    <div class="card-header">
      {{image.username}}
      <img src="{{image.profile.profile_photo.url}}" class="img-thumbnail right-block" alt="Card image" style="width:10rem">
    </div>
    <div class="card-body">

   <img src="{{image.image_path.url}}" class="card-img-top" alt="images" >
    </div>
    <div class="card-footer text-muted">
        {% for comment in image.comments.all %}
        <a href="{{comment.user.username}}">{{comment.user.username}}</a> :{{comment.comment}}
      2 days ago
      {%endfor%}


      <form action="/likes/{{img.id}}" method="post" enctype="multipart/form-data">
        {%csrf_token%}

        {% bootstrap_form like %}
        <button>
            <div><i class="fa fa-heart" type='submit' style="font-size:30px;">{{img.likes.all|length}}</i></div>

        </button>
    </form>


    <form id='comment' action="/comments/{{img.id}}" method="post" enctype="multipart/form-data">
        {%csrf_token%}

        {% bootstrap_form comment %}
        <input type="submit" class="btn btn-primary btn-lg" value="Add comment">
    </form>
    </div>
  </div>
  {%endfor%}
</div>
<!-- <div class='col-sm-4 col-md-4 col-xl-4 prof'>
    <img src="{{image.image_path.url}}" class="profile-img-top" alt="Card image" style="width:200px;border-radius: 50%">
  <h3>{{image.user.username.image_path.url}}</h3>
  <div class='foll row'>
      <ul><li><strong>{{image_count}}</strong> Posts</li><li><strong>{{followers}}</strong>  Followers</li><li><strong>{{following}}</strong>  Following</li></ul>
     
      
    
    </div>
</div> -->

</div>
</div>
  {% endblock %}

